@font-face {
	font-family: 'Arial Narrow';
	src: url(../../assets/fonts/Arial%20Narrow-1f7dee1c0e0b0f31ce95edca4cc30edd.woff2) format('woff2'),
	url(../../assets/fonts/Arial%20Narrow-31cfded6865ba67d4c555f3eb93ae774.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}