@font-face {
	font-family: 'Arial GEO';
	src: url(../../assets/fonts/Arial%20GEO-0e8d2e3dbb895035065bba6b2ce18f47.woff2) format('woff2'),
	url(../../assets/fonts/Arial%20GEO-d3731fd2a346c468931e34138cbde707.woff) format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Arial GEO';
	src: url(../../assets/fonts/Arial%20GEO-1fd434fa3fb0807ed620413f5570f507.woff2) format('woff2'),
	url(../../assets/fonts/Arial%20GEO-367689769c59e894bddc428389b6ad89.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}