@font-face {
	font-family: 'Geo_Arial';
	src: url(../../assets/fonts/Geo_Arial-fa7bd6b987406ca4ae63c34ea40ea544.woff2) format('woff2'),
	url(../../assets/fonts/Geo_Arial-81c88702168ba1f43f02a0f4b32e0164.woff) format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}