@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-431ff8d124624303a9de67f3c336441d.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-cc2e7fcb9aa59fb140b89dcd18ff4413.woff) format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-63f39d3dceb9e9ea5b71e1af12a9cbdb.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-77c60e6549ed3bbec5bb7568b0ba4472.woff) format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-8abaefef2fa45bdf75af23d09cf18123.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-89ad09dc75b1aa39fd3eddb6089d6a55.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-9c4374b04ace093dfa24bfc43ef6ae52.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-10d8d64d35b34e5101fe7bee021f4915.woff) format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-8dda8415165f8c3812b5f5b4109e0302.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-3428fc5749d447aef0248375b749d980.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-78a0e7945af0ac3a0b2118e00349464e.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-b6b24e3ffb23aebce53ff8d3901db7fb.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-932ce63d6d7a991ad90a514d3068c15c.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-e9a5f81782fd4ee4943b012d2b0356b2.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-ff6400c1c9e4293587809434837bd186.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-2807c7d1c31d0953fe0ce948039f25e1.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-47e099ad7269fdcde7c6866d3de31001.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-1824adf990319e40878eaf6c6eedc89b.woff) format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-8d441262e1287a8577b592a3fedb86cb.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-a7cd1b38f56fd7a3af7686ba02cb74af.woff) format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-41c5420ccb6ae736692a030d67d0a0e5.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-85cca2e96eb00fcd99f2bd0870dfdb16.woff) format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-6a1741be1cb824dc2ff772a7cc638a40.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-dde8caff92afa742bd0d7de2bac334b2.woff) format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-ac0f1dfe61fc9aac4c5f704470e070a1.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-69f258fd5923fc6a71e7edf1623f8a87.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-88d969be927862dcdab8fb9a88441933.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-fadfa8d4dff7067ab6df7702b1243f22.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-0f732be26d41dded0166a8dafd670515.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-e1e424a52872dfc92c669b66e72b77ae.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-ca17ab6240d45daba702a042cd6dbf56.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-0e963a42fffc4b350a2310bd5d2e811f.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-91916894cc579c8743bd6f83db11a786.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-560e1919d9ced00c96f3fc4d97ed6b83.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-fc95084274da39c45cb62cd39596945f.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-43723efb169e7195b504d4eaa8cc3b32.woff) format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-a53b63af79c900db92790fe09cf55dae.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-7506e7973374fd15b0857fc46063e3ae.woff) format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-41b5e198f01500a47e43ac82a5dd33ba.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-d067bfd7cc54434a5986277a94a7fbf9.woff) format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-7f51537eda87e23d8b74befee0b9982d.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-6377c5d873e857d5b343c193d07bd734.woff) format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-6c52c9abb027ba0548c090c01e2a10d7.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-cd81a7f755cfe74b8f48f04ec40040a5.woff) format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-ba0b28af349f36ea8ebe17f546008e03.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-e7aac89dc1282fdeee1109c927ee14af.woff) format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-2bd46d73fea0986f7d166619a1c2b048.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-9733b9e28617ced8ad7f7e14a6b59678.woff) format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-8639f63a061e84a2dfca2e0728f71f6f.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-b3b6dc6cfe64d1ba43c964ff03f53cad.woff) format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url(../../assets/fonts/Helvetica-826f1c253c254f321600519dd95a7c0f.woff2) format('woff2'),
	url(../../assets/fonts/Helvetica-fabc7627fe474d0b3ff572e1613e1b26.woff) format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}