body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

.background-container {
  background-image: url("../../assets/img/pandotrees.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: -30px;
  left: 0;
  width: 100%;
  bottom: 0px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-container {
  top: 0px;
  padding-right: 65px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.title-container img {
  margin-top: 0px;
  margin-right: 5px;
  height: 35px;
  width: 35px;
}

#pandosys {
  font-size: 35px;
  color: black;
  text-align: center;
  margin-bottom: 0px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
}

.tabs a:hover {
  color: rgb(244, 156, 12);
}

.tabs {
  padding-top: 65px;
}

.tabs ul {
  display: flex;
  list-style: none;
  margin-bottom: 15px;
}

.tabs li, .tabs a {
  padding: 0px 25px;
  color: black;
  text-decoration: none;
  font-size: 22px;
}

.tabs > ul:nth-child(1) {
  padding-left: 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown #dropbtn {
  font-size: 22px;
  border: none;
  outline: none;
  color: black;
  display: block;
  background-color: inherit;
  margin: 0px;
}

#dropbtn {
  padding-bottom: 0px;
  padding-top: 0px;
}

.dropdown #dropbtn a {
  padding: 0px 10px;
}

.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  overflow: auto;
  left: 0px;
  right: 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  border: none;
}

.dropdown-menu a, .dropdown-menu p {
  color: black;
  font-size: 18px;
  display: block;
  padding: 4px 0px;
  margin: 0px;
}

.dropdown-menu p {
  color: var(--bs-gray-600);
}

.dropdown:hover .dropdown-menu, .dropdown-menu:hover {
  display: block;
}

.dropdown-menu p:hover {
  color: var(--bs-gray-600);
}

hr {
  margin-top: 3px;
  margin-bottom: 3px;
  border-top: 1px solid var(--bs-gray-dark);
}

.separator {
  content: "";
  border-left: 2px solid var(--bs-gray-700);
}

.nav-bar span {
  height: 40px;
}

.footer span {
  margin-top: -1px;
  height: 30px;
}

#about, #help, #privacy, #legal {
  cursor: pointer;
  text-decoration: none;
}

#about-page, #help-page {
  position: fixed;
  bottom: -100%;
  left: 0px;
  width: 100%;
  height: calc(100% - 100px);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  transition: bottom 0.8s ease-in;
  display: flex;
  padding: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow-y: auto;
}

.page-content {
  margin: 3% auto;
  width: 95%;
  height: 100%;
}

#top-total {
  display: flex;
  padding-bottom: 35px; 
  justify-content: space-between;
  align-items: center;
}

#top-text {
  width: 70%;
  flex: 1;
}

#top-total img {
  height: 400px;
  margin-left: 50px;
}

#login-img2 {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 3% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#close-privacy, #close-legal {
  color: #aaa;
  text-align: right;
  font-size: 38px;
  font-weight: bold;
}

#close-privacy:hover, #close-privacy:focus, #close-legal:hover, #close-legal:focus {
  color: rgb(244, 156, 12);
  text-decoration: none;
  cursor: pointer;
}

#about-page h2 {
  font-size: 28px;
}

#about-page h3 {
  font-size: 24px;
}

#about-page p {
  font-size: 18px;
}

.modal-content h2 {
  font-size: 24px;
}

.modal-content h3 {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.modal-content p {
  font-size: 16px;
}

.modal-content a {
  padding: 0px;
  color: var(--bs-link-color);
  font-size: 16px;
}

.modal-content ul {
  display: flex;
  flex-direction: column;
  list-style-type: square;
  padding-bottom: 8px;
}

.modal-content ul li p {
  margin: 0px;
}

.list-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.headings {
  margin-right: 100px;
  margin-bottom: 10px;
  list-style: none;
}

.headings a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.subheadings {
  max-height: 0px;
  max-width: 600px;
  overflow: hidden;
  transition: max-height 0.8s ease;
}

.subheadings.visible {
  max-height: 200px;
  overflow: visible;
}

.subheadings li p {
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 14px;
}

#contact-form {
  display: flex;
  margin: auto;
  margin-top: 0px;
}

fieldset {
  border: 1px solid white;
}

/* Code for legend obtained from:
 https://stackoverflow.com/questions/46229876/custom-border-for-a-fieldset-and-legend 
 */
legend {
  float: none;
  width: inherit;
  color: white;
  font-size: 22px;
  padding: 0.2em 0.5em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

legend::before {
  position: absolute;
  content: "";
  height: 11px;
  border-left: 1px solid white;
  left: 0px;
  top: 15px;
}

legend::after {
  position: absolute;
  content: "";
  height: 11px;
  border-right: 1px solid white;
  right: 0px;
  top: 15px;
}

.fields-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.fields-pair {
  display: flex;
  flex-direction: column;
}

input[type=text], input[type=email] {
  box-sizing: border-box;
  border: none;
  float: left;
}

textarea {
  display: flex;
  width: 100%;
  height: 200px;
  resize: none;
  box-sizing: border-box;
}

#reasons-message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -15px;
}

#file-button {
  text-align: center;
}

/* https://www.w3docs.com/snippets/css/how-to-style-input-and-submit-buttons.html */
input[type=submit] {
  background-color: rgb(244, 156, 12);
  border: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin: 5px auto 30px;
  display: block;
  font-size: 18px;
  padding: 8px 12px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
}

.container {
  border-radius: 5px;
  background-color:rgba(0, 0, 0, 0);
  padding: 20px;
}

.footer {
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.word-links {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.word-links a {
  font-size: 18px;
  padding: 5px 15px 2px;
  text-decoration: none;
}

.word-links a:hover {
  color: rgb(244, 156, 12);
}

.logo-links {
  display: flex;
  align-self: flex-end;
  list-style: none;
  margin-top: -30px;
}

.logo-links img {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}



/* Responsive to mobile phone screens */
@media screen and (max-width: 600px) {
  .background-container {
    bottom: -25px;
  }

  .title-container {
    padding-top: 5px;
    padding-right: 40px;
  }

  .title-container img {
    margin-top: -2px;
    margin-right: 5px;
    height: 19px;
    width: 19px;
  }

  #pandosys {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 2px;
  }

  .nav-bar {
    height: 55px;
  }

  .tabs {
    padding-top: 30px;
  }

  .tabs ul {
    margin-bottom: 0px;
    padding: 0px;
  }

  .tabs li, .tabs a {
    padding: 6px 12px;
    margin-bottom: 4px;
    font-size: 12px;
  }

  .dropdown #dropbtn {
    font-size: 12px;
  }

  #dropbtn {
    padding-bottom: 1px;
    padding-top: 0px;
    margin-bottom: 0px;
  }

  .dropdown .dropdown-menu {
    min-width: 100%;
  }

  .dropdown-menu a {
    font-size: 10px;
    padding-top: 4px;
    padding-bottom: 2px;
  }

  .dropdown-menu p {
    font-size: 10px;
    padding-bottom: 0px;
    margin-bottom: -2px;
  }

  hr {
    margin-top: -2px;
    margin-bottom: 0px;
  }

  .separator {
    border-left-width: 1px;
  }

  .nav-bar span {
    margin-top: 6px;
    height: 20px;
  }

  #about-page h2 {
    font-size: 17px;
    text-align: center;
    margin-bottom: 2px;
  }

  #about-page h3 {
    font-size: 15px;
    text-align: center;
  }

  #about-page p {
    font-size: 11px;
  }

  #top-text > p:nth-child(3) {
    margin-bottom: 0px;
  }  

  #login-img1 {
    display: none;
  }

  #login-img2 {
    display: flex;
  }

  .list-container {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .list-container ul {
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
  }

  .headings {
    margin: 0px;
    margin-right: 15px;
    text-align: center;
  }

  .headings a {
    font-size: 12px;
  }

  .subheadings {
    max-width: 300px;
  }

  .subheadings li {
    list-style: none;
  }

  .subheadings li p {
    font-size: 6px;
    margin-bottom: 10px;
    padding-left: 7px;
    margin-right: -7px;
  }

  #top-total {
    padding-bottom: 5px;
  }

  #top-total2 {
    display: flex;
    flex-direction: column;
  }

  #top-total2 img {
    height: 200px;
    margin: 0px auto;
  }

  legend {
    font-size: 18px;
  }

  legend::before, legend::after {
    top: 12px;
  }

  .fields-pair {
    width: 100%;
    box-sizing: border-box;
  }

  input[type="text"], input[type="email"], select, textarea {
    width: 100%;
  }

  /* https://stackoverflow.com/questions/20656114/how-to-increase-height-of-a-select */
  select {
    -webkit-appearance: menulist-button;
    height: 30px;
  }

  .fields-row {
    flex-direction: column;
  }

  input[type="file"], input[type="button"] {
    width: 100%;
  }

  fieldset {
    margin-bottom: 45px;
  }

  .modal-content h2 {
    font-size: 15px;
  }

  .modal-content h3 {
    font-size: 12px;
  }

  .modal-content p {
    font-size: 10px;
  }

  .modal-content a {
    font-size: 8px;
  }

  .modal-content ul {
    padding-left: 10px;
    margin-bottom: 5px;
  }

  .modal-content li {
    font-size: 10px;
  }

  .modal-content ul li p {
    font-size: 9px;
  }

  .footer span {
    margin-top: 7px;
    height: 15px;
    bottom: 1px;
  }

  .footer {
    position: block;
  }

  #about-page, #help-page {
    height: calc(100% - 55px);
  }

  .page-content {
    height: 160%;
  }

  .word-links {
    margin-top: -10px;
    align-self: center;
  }

  .word-links a {
    font-size: 10px;
  }

  .logo-links {
    display: flex;
    align-self: center;
    margin-top: -1px;
    margin-bottom: 1px;
  }

  .logo-links img {
    width: 14px;
    height: 14px;
  }
}